body {
    width: 60%;
    padding: 80px 0;
    margin: 0 auto;
    background-color: #3ad4e8;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 200%;
    animation: pagefade ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


#maintitle {
    text-align: center;
    color: #ffbadd;
}

@keyframes pagefade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    color: #ffbadd;
}

h2 {
    text-align: center;
    color: #ffbadd;
}

h3 {
    color: #ffbadd;
}

h4 {
    color: #ffbadd;
}

#nav {
    border: 1px solid white;
    border-width: 3px 0;
    padding: 0;
    text-align: center;
}

#nav li {
    display: inline;
}

#nav a {
    display: inline-block;
    padding: 15px;
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

#activenav {
    color: navy;
}

#opaque {
    color: white;
    opacity: 0.5;
    font-size: 70%;
    font-style: italic;
    padding-bottom: 7px;
}

.container {
    color: white;
    width: 100%;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    background-color: #2196F3;
    border-left: 16px solid navy;
    border-radius: 20px;
}

.containerimage {
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    background-color: #2196F3;
    border-radius: 20px;
    border: 4px solid navy;
}

img {
    border-radius: 20px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.container-wrap {
    width: calc(100% + 16px);
}

.container-left {
    width: calc(50% - 48px);
    margin-right: 12px;
    float: left;
    color: white;
    padding-top: 12px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 12px;
    background-color: #2196F3;
    border: 4px solid navy;
    border-radius: 20px;
}

.container-right {
    width: 50%;
    display: inline-block;
}

#photoofme {
    width: 100%;
}

#overflow {
    overflow-x: auto;
}

#test {
    float: right;
    height: auto;
    width: 55%;
}

#filetable {
    border: 1px solid white;
    border-collapse: collapse;
    width: 100% padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
}

th {
    padding: 2px;
    border: 2px solid white;
    border-collapse: collapse;
    background-color: navy;
}

td {
    padding: 2px;
    border: 2px solid white;
    border-collapse: collapse;
    background-color: #2196F3;
}

#imageoverflow {
    overflow: hidden;
}


#websitestructure {
    width: 100%;

}

#gotop {
    float: right;
    padding-right: 10px;
}

#palette {
    border: 5px solid #020257;
}

#textlink {
    color: #ffbadd;
}

span {
    color: navy;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 1%;
    background-color: #3ad4e8;
    color: white;
    opacity: 0.7;
    text-align: center;
    border-top: 10px double white;
}
